doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=yes, minimum-scale=1.0, maximum-scale=2.0, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon", href="img/logo.svg", type="image/x-icon")
        title Оплата паркування у Хмельницькому
    body 
        header
            .gray_bg.flex.gap_30.items_center
                p.tac Графік роботи:
                .flex.gap_10
                    p
                        b.id
                    p.day_time 
            .wrapper.tac
                .logo 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 200" fill="none">
                        <path d="M128 63.6107C128 107.662 82.6623 160.703 68.3048 176.395C65.9946 178.919 62.0034 178.919 59.6932 176.395C45.3377 160.703 0 107.662 0 63.6107C0 28.4793 28.6535 0 64 0C99.3465 0 128 28.4793 128 63.6107Z" fill="#3CC8C8"/>
                        <path d="M63.9166 111.521C89.4303 111.521 110.113 90.9643 110.113 65.6058C110.113 40.2473 89.4303 19.6902 63.9166 19.6902C38.4029 19.6902 17.72 40.2473 17.72 65.6058C17.72 90.9643 38.4029 111.521 63.9166 111.521Z" fill="white"/>
                        <path d="M81.0454 69.1805H71.4755L67.7869 65.4931L67.6411 65.6389V70.7141L68.7909 71.8651V81.435H72.4734V72.863H81.0454V69.1805Z" fill="#5DAFB7"/>
                        <path d="M50.8173 43.7884V39.9926H39.6031V51.2069H43.3989V46.473L59.332 62.4062L59.479 62.2579V57.184L46.0835 43.7884H50.8173Z" fill="#5DAFB7"/>
                        <path d="M75.2627 75.6522V87.9067H78.9439V79.3334H87.5171V75.6522H75.2627Z" fill="#5DAFB7"/>
                        <path d="M80.0974 39.9926L76.3016 43.7884H81.0355L54.491 70.3341H49.7572L46.076 74.0153H53.4932V81.4338L57.1756 77.7513V73.0175L83.7201 46.473V51.2069L87.5159 47.4111V39.9926H80.0974Z" fill="#CC0033"/>
                        <path d="M43.2531 76.8369L39.6043 80.487H47.0227V87.9054L50.7039 84.223V76.8045H43.2855L43.2531 76.8369Z" fill="#CC0033"/>
                        <path d="M70.1476 90.9102C69.962 90.7245 69.7477 90.5863 69.5197 90.4928C69.2918 90.4007 69.0489 90.3533 68.8059 90.3533C68.563 90.3533 68.3201 90.3994 68.0921 90.4928C67.8641 90.585 67.6499 90.7245 67.4643 90.9102L66.0466 92.3278C66.0142 92.3602 65.9793 92.3814 65.942 92.3976C65.9307 92.4026 65.9195 92.4051 65.9071 92.4088C65.8797 92.4175 65.8535 92.4237 65.8261 92.425C65.7738 92.425 65.7078 92.4163 65.6754 92.4026C65.6392 92.3876 65.6068 92.3664 65.5769 92.3403C65.5682 92.3328 65.562 92.3253 65.5545 92.3166C65.5333 92.2942 65.5172 92.2705 65.5022 92.2431C65.496 92.2319 65.491 92.2219 65.486 92.2107C65.4711 92.1721 65.4598 92.1298 65.4598 92.0824V67.8214L61.664 71.6172V92.0824C61.664 92.1298 61.6528 92.1709 61.6379 92.2107C61.6329 92.2219 61.6279 92.2319 61.6217 92.2431C61.6067 92.2705 61.5905 92.2942 61.5694 92.3166C61.5619 92.3241 61.5557 92.3328 61.5469 92.3403C61.517 92.3664 61.4847 92.3889 61.4485 92.4026C61.4211 92.4125 61.3688 92.4237 61.3327 92.425C61.3277 92.425 61.3028 92.425 61.2966 92.425C61.2691 92.4237 61.2417 92.4175 61.2156 92.4088C61.2044 92.4051 61.1932 92.4026 61.1807 92.3976C61.1433 92.3814 61.1084 92.359 61.0761 92.3278L59.6584 90.9102C59.4728 90.7245 59.2585 90.5863 59.0305 90.4928C58.8026 90.4007 58.5596 90.3533 58.3167 90.3533C58.0738 90.3533 57.8309 90.3994 57.6029 90.4928C57.3749 90.585 57.1607 90.7245 56.975 90.9102C56.2338 91.6514 56.2338 92.8535 56.975 93.5948L62.4638 99.0835C62.6158 99.2355 62.7902 99.3489 62.9771 99.4249C63.3508 99.5768 63.7719 99.5768 64.1468 99.4249C64.3337 99.3489 64.5093 99.2355 64.6613 99.0835L70.1501 93.5948C70.8913 92.8535 70.8913 91.6514 70.1501 90.9102H70.1476Z" fill="#1A3347"/>
                        <path d="M63.2524 45.0728C63.4218 45.2422 63.6983 45.2422 63.8678 45.0728L68.5431 40.3975C68.8881 40.0524 69.0825 39.584 69.0825 39.0957C69.0825 37.455 67.0992 36.6341 65.9395 37.7939L63.8678 39.8656C63.6983 40.035 63.4218 40.035 63.2524 39.8656L61.1807 37.7939C60.0209 36.6341 58.0377 37.455 58.0377 39.0957C58.0377 39.584 58.2308 40.0524 58.5771 40.3975L63.2524 45.0728Z" fill="#1A3347"/>
                        <path d="M61.6666 52.637C61.6666 52.6631 61.6628 52.6893 61.6628 52.7155V60.0754L65.4586 56.2796V52.7155C65.4586 52.6893 65.4561 52.6631 65.4549 52.637L68.5443 49.5475C68.8894 49.2025 69.0838 48.734 69.0838 48.2457C69.0838 46.6051 67.1005 45.7841 65.9407 46.9439L63.869 49.0156C63.6996 49.185 63.4231 49.185 63.2536 49.0156L61.182 46.9439C60.0222 45.7841 58.0389 46.6051 58.0389 48.2457C58.0389 48.734 58.232 49.2025 58.5784 49.5475L61.6678 52.637H61.6666Z" fill="#1A3347"/>
                        <path d="M64.2061 200C78.4392 200 89.9774 197.377 89.9774 194.14C89.9774 190.904 78.4392 188.281 64.2061 188.281C49.9729 188.281 38.4347 190.904 38.4347 194.14C38.4347 197.377 49.9729 200 64.2061 200Z" fill="#F6F9F9"/>
                    </svg>
        main 
            section.main_section.tac.wrapper
                h1.tac Оплата паркування у Хмельницькому
                label 
                    select#adress(name="adress") 
                        option(value="ХМ001") вул. Львівське шосе ХМ001
                        option(value="ХМ002") вул. Соборна ХМ002
                        option(value="ХМ003") вул. Грушевського ХМ003
                .grid.col_3.gap_30
                    .pb_container 
                        a.mask.mask_pb(href="") 
                        .payment.flex.gap_10.items_center
                            picture 
                                img(src="img/pb.png", alt="")
                            p Оплата ПриватБанк
                        .price_pb
                            p 
                                span /година
                    .unip_container 
                        a.mask.mask_unip(href="") 
                        .payment.flex.gap_10.items_center
                            picture 
                                img(src="img/unip.png", alt="")
                            p Оплата UNIP
                        .price_unip
                            p
                                span /година
                    .abonement_container
                        a.mask.mask_abonement(href="https://unip.com.ua/subscriptions?cityId=3") 
                        .payment.flex.gap_10.items_center
                            picture 
                                img(src="img/unip.png", alt="")
                            p Абонемент на парковку
                        .price_abonement 
                            p 1500₴
                                span /місяць
                p.tl.map_text
                    a(href="#contacts").flex.gap_10.items_center
                        span.icon
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M1 5.61271V15.7165C1 17.6894 2.24609 18.4994 3.75987 17.5233L5.92899 16.1318C6.39974 15.8307 7.18432 15.7995 7.67352 16.0799L12.5194 18.8109C13.0087 19.0809 13.7932 19.0601 14.264 18.759L18.2607 16.1837C18.7684 15.8514 19.193 15.0415 19.193 14.3769V4.27316C19.193 2.30018 17.9469 1.49022 16.4331 2.46633L14.264 3.8578C13.7932 4.15894 13.0087 4.19009 12.5194 3.90972L7.67352 1.18908C7.18432 0.919092 6.39974 0.93986 5.92899 1.241L1.93226 3.81626C1.41536 4.14855 1 4.95851 1 5.61271Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6.78741 1.6875V15.1868" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.4055 4.40814V18.3021" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg> 
                        | Мапа терміналів для оплати готівкою
                .app_unip 
                    p.tac Завантажити додаток UNIP:
                    .app_btn.flex.gap_30
                        a(href="https://play.google.com/store/apps/details?id=biz.unip.unip&pcampaignid=web_share").btn.google_play
                            picture
                                img(src="img/googleplay.png", alt="")
                        a(href="https://apps.apple.com/ua/app/unip-%D0%BF%D0%B0%D1%80%D0%BA%D1%83%D0%B9%D1%81%D1%8F-%D0%B1%D0%B5%D0%B7-%D0%BF%D1%80%D0%BE%D0%B1%D0%BB%D0%B5%D0%BC/id1160778590?l=ru").btn.a_store
                            picture
                                img(src="img/appstore.png", alt="")
            section.rules_container 
                .wrapper
                    h2.tac Правила користування паркувальними майданчиками
                    .flex.gap_10.items_center
                        span.icon
                            span.number 1 
                        p 
                            b Припаркуйте автомобіль згідно дорожньої розмітки та дорожніх знаків. 
                            | Park the vehicle according to road markings and road signs.
                    .flex.gap_10.items_center
                        span.icon
                            span.number 2
                        p 
                            b Оплатіть послуги паркування будь-яким доступним способом оплати. 
                            | Pay for parking services with any of the following payment methods.
                    .attention.flex.gap_10.items_center
                        picture 
                            img(src="img/info.png", alt="")
                        p Штраф за несплату накладається у 20-кратному розмірі!
            section.adress_container#contacts
                .wrapper.map_wrapper.grid.col_2.gap_50
                    .map 
                    .adress_terminal_block 
                        h2 Адреси фізичних терміналів для оплати готівкою:
                        .adress_text
                        
        footer.footer
            .wrapper.map_wrapper.flex_between.wrap.gap_50
                .logo_footer.flex.items_center.gap_30
                    .logo_block 
                        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="60" viewBox="0 0 47 60" fill="none">
                            <path d="M39.9201 30.7569H30.7018L27.1486 27.205L27.0082 27.3454V32.2341L28.1158 33.3429V42.5612H31.663V34.3041H39.9201V30.7569Z" fill="#5DAFB7"/>
                            <path d="M10.8023 6.29748V2.64111H0V13.4434H3.65637V8.88346L19.0042 24.2313L19.1458 24.0885V19.201L6.24235 6.29748H10.8023Z" fill="#5DAFB7"/>
                            <path d="M34.3497 36.9908V48.7952H37.8957V40.5368H46.154V36.9908H34.3497Z" fill="#5DAFB7"/>
                            <path d="M39.0069 2.64111L35.3506 6.29748H39.9105L14.3411 31.8681H9.78117L6.2352 35.4141H13.3799V42.56L16.9271 39.0128V34.4529L42.4965 8.88346V13.4434L46.1529 9.78706V2.64111H39.0069Z" fill="#CC0033"/>
                            <path d="M3.51596 38.132L0.00119019 41.648H7.14713V48.7939L10.6931 45.2468V38.1008H3.54716L3.51596 38.132Z" fill="#CC0033"/>
                            <path d="M29.4226 51.6883C29.2438 51.5095 29.0374 51.3763 28.8178 51.2863C28.5982 51.1975 28.3642 51.1519 28.1302 51.1519C27.8962 51.1519 27.6622 51.1963 27.4426 51.2863C27.223 51.3751 27.0166 51.5095 26.8378 51.6883L25.4723 53.0538C25.4411 53.085 25.4075 53.1054 25.3715 53.121C25.3607 53.1258 25.3499 53.1282 25.3379 53.1318C25.3115 53.1402 25.2863 53.1462 25.2599 53.1474C25.2095 53.1474 25.1459 53.139 25.1147 53.1258C25.0799 53.1114 25.0487 53.091 25.0199 53.0658C25.0115 53.0586 25.0055 53.0514 24.9983 53.043C24.9779 53.0214 24.9623 52.9986 24.9479 52.9722C24.9419 52.9614 24.9371 52.9518 24.9323 52.941C24.9179 52.9038 24.9071 52.863 24.9071 52.8174V29.4476L21.2507 33.104V52.8174C21.2507 52.863 21.2399 52.9026 21.2255 52.941C21.2207 52.9518 21.2159 52.9614 21.2099 52.9722C21.1955 52.9986 21.1799 53.0214 21.1595 53.043C21.1523 53.0502 21.1463 53.0586 21.1379 53.0658C21.1091 53.091 21.0779 53.1126 21.0431 53.1258C21.0167 53.1354 20.9663 53.1462 20.9315 53.1474C20.9267 53.1474 20.9027 53.1474 20.8967 53.1474C20.8703 53.1462 20.8439 53.1402 20.8187 53.1318C20.8079 53.1282 20.7971 53.1258 20.7851 53.121C20.7491 53.1054 20.7155 53.0838 20.6843 53.0538L19.3187 51.6883C19.1399 51.5095 18.9335 51.3763 18.7139 51.2863C18.4943 51.1975 18.2603 51.1519 18.0263 51.1519C17.7923 51.1519 17.5583 51.1963 17.3387 51.2863C17.1191 51.3751 16.9127 51.5095 16.7339 51.6883C16.0199 52.4022 16.0199 53.5602 16.7339 54.2742L22.0211 59.5614C22.1675 59.7078 22.3355 59.817 22.5155 59.8902C22.8755 60.0366 23.2811 60.0366 23.6423 59.8902C23.8223 59.817 23.9915 59.7078 24.1379 59.5614L29.425 54.2742C30.139 53.5602 30.139 52.4022 29.425 51.6883H29.4226Z" fill="#1A3347"/>
                            <path d="M22.7806 7.53462C22.9438 7.69782 23.2102 7.69782 23.3734 7.53462L27.877 3.03105C28.2094 2.69866 28.3966 2.24746 28.3966 1.77706C28.3966 0.196675 26.4862 -0.594119 25.369 0.523072L23.3734 2.51866C23.2102 2.68186 22.9438 2.68186 22.7806 2.51866L20.785 0.523072C19.6678 -0.594119 17.7574 0.196675 17.7574 1.77706C17.7574 2.24746 17.9434 2.69866 18.277 3.03105L22.7806 7.53462Z" fill="#1A3347"/>
                            <path d="M21.2531 14.821C21.2531 14.8462 21.2495 14.8714 21.2495 14.8966V21.9861L24.9058 18.3298V14.8966C24.9058 14.8714 24.9034 14.8462 24.9022 14.821L27.8782 11.845C28.2106 11.5126 28.3978 11.0614 28.3978 10.591C28.3978 9.01064 26.4874 8.21985 25.3702 9.33704L23.3747 11.3326C23.2115 11.4958 22.9451 11.4958 22.7819 11.3326L20.7863 9.33704C19.6691 8.21985 17.7587 9.01064 17.7587 10.591C17.7587 11.0614 17.9447 11.5126 18.2783 11.845L21.2543 14.821H21.2531Z" fill="#1A3347"/>
                        </svg>
                    p КП по організації роботи
                        br
                        | міського пасажирського транспорту
                .app_block 
                    h3 Завантажити додаток UNIP
                    .app_footer.gap_30
                        a(href="https://play.google.com/store/apps/details?id=biz.unip.unip&pcampaignid=web_share").btn.google_play
                            picture
                                img(src="img/googleplay.png", alt="")
                        a(href="https://apps.apple.com/ua/app/unip-%D0%BF%D0%B0%D1%80%D0%BA%D1%83%D0%B9%D1%81%D1%8F-%D0%B1%D0%B5%D0%B7-%D0%BF%D1%80%D0%BE%D0%B1%D0%BB%D0%B5%D0%BC/id1160778590?l=ru").btn.a_store
                            picture
                                img(src="img/appstore.png", alt="")
                .contacts 
                    h3 Контакти:
                    p м. Хмельницький, вул. Ольги Кобиляської, 19
                    p
                        a(href="tel:0382650061") (0382) 65 00 61
            p.tac &copy Сopyright  2025 Парковка
        script(src="js/scripts.js") 